<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>The Twitter Radio</title>
 <link rel="stylesheet" href="stylesheets/sc-player-artwork.css" type="text/css">
  

</head>
<body>

	<%= yield %>
	
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/soundcloud.player.api.js"></script>
    <script type="text/javascript" src="javascripts/sc-player.js"></script>
  

</body>
</html>
